body{
      background-image: url(https://image.freepik.com/foto-gratis/madera-barnizada_1249-97.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}