body{
      background-image: url(https://i.pinimg.com/originals/fe/7b/9d/fe7b9dfe072d5f82a1f352386545e8cb.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}